body {
    background-color: white;
    margin-bottom: 25px;
}
.title {
    color: black;
    margin-top: 0em;
}
.name {
    margin-top: 5px;
    font-size: 19px;
    text-align: center;
}
.currentJob span{
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    background-color: white;
    margin-left: 60%;
}
.currentJob hr{
    position: relative;
    z-index: -1;
    top: -20px;
    border-color: black;
    border-width: 1.5px;
}
.content {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content .leftside {
    border-right: 1px solid black;
    grid-column: 1;
    text-align: right;
    padding-right: 15px;
    margin-left: auto;
    max-width: 225px;
}
.content h3 {
    color:black;
    padding-top: 5px;
    margin-block-end: 10px;
}
.content h4 {
    color:black;
    margin-top: 1px;
    margin-bottom: 1px;
}
.content h3 span{
    background-color: white;
    padding-left: 10px;
}
.content .rightside {
    max-width: 625px;
    padding-left: 15px;
    padding-right: 20px;
    border-left: 1px solid black;
    grid-column: 2/4;
}
.content .rightside h2 {
    text-align: center;
    padding-bottom: 4px;
    border: 1px solid black;
}
.content .rightside h4 {
    margin-bottom: 8px;
}
.content p {
    margin-top: 8px;
    margin-bottom: 8px;
}
.content li {
    margin: 10px 0px 5px 10px;
}
.content .job .tools {
    padding-left: 2%;
    list-style-type: circle;
}